<% layout("/layouts/boilerplate") -%>



    <body>

        <div class="row mt-1">
            <div class="col-8 offset-2">
                <br><br>
                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <h3>Create a New Listing</h3>
                    <div class="mb-3">
                        <label for="title" class="form-label">Add a catchy Title</label>
                        <input type="text" name="listing[title]" placeholder="Enter title" class="form-control"
                            required>
                        <div class="valid-feedback">Title looks good!</div>
                    </div>



                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="listing[description]" placeholder="Enter Description" id=""
                            class="form-control" required></textarea>
                              <div class="invalid-feedback">Please Enter a short description</div>
                    </div>




                    <!-- <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input type="text" name="listing[image][url]" 
                            placeholder="Enter image URL/Link" class="form-control">
                    </div> -->



                    

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image:</label><br>
                        <input type="file" name="listing[image]" >
                    </div>


                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input     name="listing[price]" placeholder="Enter Price" class="form-control" 
                                required>
                                  <div class="invalid-feedback">Price should be valid</div>
                                  
                        </div>


                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" placeholder="Enter Country" class="form-control"
                                required>
                                  <div class="invalid-feedback">Country Name should be valid</div>
                        </div>


                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Enter Location" class="form-control" required>
                          <div class="invalid-feedback">Location should be valid</div>
                    </div>



                    <button class="btn btn-dark add-btn mt-3">Add</button>
                    <br><br>
                </form>
            </div>

        </div>
    </body>